body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;  

}
html{
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu{
    display: none;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.header{
    background: white;
    color: #414141;
    width: 100%;
}

.logo{
    width: 15%;
    margin: 1%;
    float: left;
}
.header p{
    display: inline;
    cursor: pointer;
    
    
}    
.contact{
    padding-top:1%;
    float: right;
    font-style: italic;
    font-weight: 300;
    width: 60%;
}

.contact p{
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 1%;
    margin-right: 1%;
}
.tabs{ 
    padding-top: 2%;
    width: 90%;
    float: right;
}
.tabs p{
    font-size: 140%;
    margin-left: 3%;
    margin-right: 3%;
}
.OurPromise{
    padding: 3%;

}
.OurPromise h1{
    text-align: center;
    font-size: 200%;
    color: #065289;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}
.OurPromise p{
    text-align: center;
    color: #414141;
    font-size: 150%;
    line-height: 2;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    

}
.inthenews{
    background-color: #D6ECFF;
    padding: 3%;
    width: 100%;

}
.inthenews h1{
    text-align: center;
    font-size: 200%;
    color: #065289;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}
.sect{
    display: inline-block;
    width: 45%;
    padding:5%;
    padding-left: 10%;
}
.sect h4{
    font-size: 180%;
    font-weight: 700;
}
.sect p{
    width: 100%;
    font-size: 150%;
}
.sect img{
    margin: 0 auto;
}
.askaquestion{

    background-color: #D6D6D6;
    padding:3%;

}
.askaquestion h1{
    text-align: center;
    font-size: 200%;
    color: #065289;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}
.askaquestion input{
    border: solid #8C8C8C 3px;
    background-color: white;
    border-radius: 10px;
    font-size:160%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;

}
.askaquestion textarea{
    border: solid #8C8C8C 3px;
    background-color: white;
    border-radius: 10px;
    font-size:160%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:1%;
    padding: 1%;  
}
.footer{
    padding: 3%;
    background-color: white;

}
.list{
    margin: 3%;
    display: inline-block
}
.list h1{
    color:#1B9665;
    font-style: italic;
    font-size: 150%;
}
.list a{
    display: block;
    font-size: 130%;
    color: #8C8C8C;
}
.list p{
    display: block;
    font-size: 130%;
    color: #8C8C8C;
}

@media only screen and (max-width: 1800px) {
    .tabs p{
        font-size: 110%;
    }
            
 
}
@media only screen and (max-width:1200px){

    .logo{
        display: block;
        padding: 3%;
        margin: 0 auto;
        float: none;
        width:25%;
    }
.contact{
    display: none;
}

.tabs{ 
    display: none
}
.OurPromise h1{
    font-size: 130%;
}
.OurPromise p{
    font-size: 120%;
}
.sect img{
    width: 80%;
}
.inthenews h1{
    font-size: 130%;
}
.sect p{
    font-size: 120%;
}
.sect h4{
    font-size: 120%;
}
.askaquestion h1{
    font-size: 130%;
    width:30%;
}
.askaquestion input{
    font-size: 110%;
}
.list a{
    font-size: 110%;
}
.list p{
    font-size: 130%;
}
}
@media only screen and (max-width:600px){      
   
    .logo{
        margin-top: 1%;
        padding: 5%;  
        width:30%;
        cursor: pointer;
    }
    .menu{
        width: 5%;
        height: 5%;
        display: block;
        float: left;
    }
}