.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

h1 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.OurPromise {
    padding: 3%;
    z-index: -3;
}

.vcenter {
    display: inline-block;
    float: none;
    width: 49%;
}

marquee p {
    vertical-align: middle;
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;
    clear: both;
    width: 100%;
    word-break: break-all;
    font-size: 2em;
    font-weight: 300;
}

/*
.item-1, 
.item-2, 
.item-3,
.item-4, 
.item-5,
.item-6,
.item-7,
.item-8,
.item-9
 {
 position: absolute;
  display: block;
  clear: both;
  
  width: 90%;
  
  font-size: 2em;
    font-weight: 300;
	animation-duration:140s;

	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.item-4{
	animation-name: anim-4;
}

.item-5{
	animation-name: anim-5;
}

.item-6{
	animation-name: anim-6;
}
.item-7{
    animation-name: anim-7
}
.item-8{
    animation-name: anim-8
}
.item-9{
    animation-name: anim-9
}


@keyframes anim-1 {
  0%, 2% { left: -100%; opacity: 0; }
  2%,11% { left: 25%; opacity: 1; }
  11%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-2 {
	0%, 11.5% { left: -100%; opacity: 0; }
    11.5%, 20.5% { left: 25%; opacity: 1; }
    21%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-3 {
	0%, 21% { left: -100%; opacity: 0; }
    21%, 30.5% { left: 25%; opacity: 1; }
    31%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-4 {
	0%, 31% { left: -100%; opacity: 0; }
    31.5%, 40.5% { left: 25%; opacity: 1; }
    41%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-5 {
	0%, 41% { left: -100%; opacity: 0; }
  41.5%, 50.5% { left: 25%; opacity: 1; }
  51%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-6 {
	0%, 51% { left: -100%; opacity: 0; }
  51.5%, 60.5% { left: 25%; opacity: 1; }
  61%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-7 {
	0%, 61% { left: -100%; opacity: 0; }
  61.5%, 70.5% { left: 25%; opacity: 1; }
  71%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-8 {
	0%, 71% { left: -100%; opacity: 0; }
  71.5%, 80.5% { left: 25%; opacity: 1; }
  81%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-9 {
	0%, 81% { left: -100%; opacity: 0; }
  81.5%, 90.5% { left: 25%; opacity: 1; }
  90%, 100% { left: 110%; opacity: 0; }
}*/

h1 {
    padding: 1%;
    margin-bottom: 3%;
}

.Quotes {
    background: white;
    display: block;
}

.arrows {
    cursor: pointer;
    z-index: 10;
    position: relative;
    top: 50%;
    font-size: 200%;
    padding: 1%;
}

.OurPromise h1 {
    text-align: center;
    font-size: 200%;
    color: #065289;
    padding: 1%;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}

.OurPromise p {
    text-align: center;
    color: #414141;
    font-size: 120%;
    line-height: 2;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.inthenews {
    background-color: #D6ECFF;
    padding: 3%;
    width: 100%;
}

.inthenews h1 {
    text-align: center;
    font-size: 200%;
    color: #065289;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}

.sect {
    padding-top: 3%;
    width: 100%;
}

.sect h4 {
    font-size: 180%;
    font-weight: 700;
}

.sect p {
    width: 100%;
    font-size: 150%;
}

.sect img {
    margin: 0 auto;
}

.askaquestion {
    background-color: #D6D6D6;
    padding: 3%;
}

.askaquestion h1 {
    text-align: center;
    font-size: 200%;
    color: #065289;
    font-weight: 700;
    border-bottom: #21862C solid;
    width: 15%;
    margin: 0 auto;
}

.askaquestion input {
    border: solid #8C8C8C 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 160%;
    padding: 2%;
    width: 100%;
}

.askaquestion textarea {
    border: solid #8C8C8C 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 160%;
    clear: both;
    margin-top: 1%;
    padding: 2%;
}

.askaquestion button {
    display: block;
    margin-top: 1%;
    border: solid #8C8C8C 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 130%;
    margin: 0 auto;
    width: 30%;
    padding: 2%;
    margin-top: 1%;
}

@media only screen and (max-width:1800px) {
    .OurPromise h1 {
        width: 25%;
        font-size: 150%;
    }
    .OurPromise p {
        font-size: 125%;
    }
    .sect img {
        width: 95%;
    }
    .sect p {
        font-size: 125%;
    }
    .askaquestion h1 {
        width: 25%;
        clear: both;
        font-size: 150%;
    }
    .askaquestion input {
        font-size: 125%;
    }
    .askaquestion button {
        font-size: 125%;
    }
}

@media only screen and (max-width:1600px) {
    .Quotes h1 {
        font-size: 150%;
    }
    .OurPromise h1 {
        font-size: 130%;
    }
    .OurPromise p {
        font-size: 120%;
    }
    .sect img {
        width: 80%;
    }
    .inthenews h1 {
        font-size: 130%;
    }
    .sect p {
        font-size: 120%;
    }
    .sect h4 {
        font-size: 120%;
    }
    marquee p {
        font-size: 90%;
    }
}

@media only screen and (max-width:1200px) {
    .Quotes h1 {
        font-size: 100%;
    }
    .OurPromise p {
        font-size: 95%;
        width: 100%;
    }
    .OurPromise {
        width: 95%;
        margin: 0 auto;
    }
    .sect p {
        font-size: 95%;
    }
    marquee p {
        font-size: 80%;
    }
}

@media only screen and (max-width:600px) {
    marquee p {
        margin-left: 50%;
        margin-right: 50%;
        font-size: 60%;
    }
    .Quotes {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .inthenews h1 {
        width: 30%;
    }
    .inthenews {
        margin-bottom: 2%;
    }
    .askaquestion h1 {
        width: 50%;
        margin: 1% auto;
    }
}