/*


    font-family: 'Open Sans', sans-serif;

    font-family: 'Merriweather', serif;

asdad
*/

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.header {
    color: #113F67;
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 4vh;
    align-items: center;
    padding-right: 4vw;
}

.header a {
    text-decoration: none;
    color: #113F67;
    cursor: pointer;
    padding: 0% 1.5vw;
    opacity: 0.37;
}

.header a:last-child {
    background: #226597;
    color: white;
    opacity: 100;
    padding: 1.2vh 1.5vw;
    border-radius: 25px;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: relative;
}

.tagline {
    width: 30vw;
}

.tagline h1 {
    font-weight: 700;
    font-size: 3em;
 
}

.tagline p {
    padding: 4.8vh 0;
    text-align: left;
    font-size: 1.2em;
}

.tagline a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 15vw;
    text-align: center !important;
    color: white;
    background-color: #226597;
    padding: 3.5vh 4vw;
    border-radius: 15px;
  
    font-weight: 600;
    font-size: 1.5em !important;
}

.background-header {
    position: absolute;
    top: 2vh;
    /* left: 0; */
    /* float: right; */
}
.profile-holder{
    width:30vw;

    background-image: url('./images/blob2 copy.svg');
    background-repeat: no-repeat;
    padding: 10vw 10vw 10vw 0;
    background-size: contain;
    background-position: center;

}
.profile {
   
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
    border-radius: 99em;
    z-index: 10;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-width: 100%;
    height: auto;
}

.projects {
    padding-top: 30vh;
}

.projects-header {
    border-bottom: rgba(0, 0, 0, .52) solid 1px;
    padding: 1vh;
    width: 15vw;
    font-size: 2.5em;
    margin-left: 5vw;
    text-align: center;
}

.projects-spotlight-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

.projects-spotlight-item h1 {
    font-size: 2.2em;
}

.description {
    width: 60vw;
}

.description p {
    padding: 4.8vh 0;
    width: 20vw;
}

.description a {
    color: #113F67;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.preview {
    position: relative;
    width: 90vw;
    padding: 10vh 0;
    background-image: url('../images/greyblob.svg');
    background-repeat: no-repeat;
    display: flex;
    background-size: contain;
    background-position: center;
}

.preview-image {
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    z-index: 10;
    
}

.projects-list {
    display: flex;
    overflow-x: auto;
    padding: 0 5vw;
}

.projects-list-item {
    margin: 1vw;
    width: 10vw;
    text-decoration: none;
    padding: 5vh;
    border-radius: 15px;
    border: grey solid 1px;
    color: black;
}

.projects-list-item h1 {
    font-size: 1.2em;
    text-align: center;
}

.projects-list-item img {
    margin: 0 auto;
    display: block;
    max-width: 90px;
    height: auto;
}


.whoami {
    margin: 10vh 0;
}

.whoami h1 {
    border-bottom: rgba(0, 0, 0, .52) solid 1px;
    padding: 1vh;
    width: 15vw;
    font-size: 2.5em;
    margin-left: 5vw;
    text-align: center;
}

.iam {
    padding: 10vh 0;
    background-image: url("../images//backgroundimages.svg");
    height: 100vh;
    width: 80vw;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.iam-pictures {
    max-width: 30vw;
    width: 100%;
    display: block;
    height: auto;
}

.iam-speaking {
    -webkit-transform-origin-z: 10px;
    margin: -10vh auto 0 auto;
    z-index: 7;
}

.iam-android {
    margin: -10vh 0 0 6vw;
    z-index: -5;
}

.iam-leader {
    margin: -60vh 6vw 0 0vw;
    z-index: -5;
    float: right;
}
.i-am-about{
    width: 60vw;
    clear: both;
    margin: 10vh auto;
    text-align: center;
    display: block;
    color:#707070;
    font-size: 1.5em;

}
.contact{
    margin: 10vh 0 50vh 0;
}
.icon-set{
    width: 60vw;
    margin: 10vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.icon-set-item{
    cursor:pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #113F67;
    font-size:2.5em;
    font-weight: 700;
    text-decoration: none;

}